<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete='off'>

    <h1 [style.color]="'green'">Welocome</h1>
     
    <div formArrayName="arr" *ngFor="let a of myForm.get('arr').value; let i = index">
        <div [formGroupName]="i" style="margin-bottom: 10px;">
   
    <mat-form-field appearance="fill">
        <mat-label>Enter your Name</mat-label>
        <input matInput placeholder="Enter your name" [formControl]="name" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Enter your Mobile Number</mat-label>
        <input matInput placeholder="Enter your Mobile Number" [formControl]="pay" required>
   </mat-form-field>
    </div>
    </div>
   <br>
    <button mat-raised-button type="button" (click)="addItem()" style="margin-right: 5px;" color="warn">Add</button>
    <button  mat-raised-button type="submit" color="primary"[disabled]="myForm.invalid">Log-in</button>
</form>
